@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');



#nav-toggle:checked {
  & ~ .nav-header {
    width: calc(var(--navbar-width-min) - 16px);
  }

  & ~ .nav-content, & ~ .nav-footer {
    width: var(--navbar-width-min);
  }

  & ~ .nav-header {
    .nav-title {
      opacity: 0;
      pointer-events: none;
      transition: opacity .1s;
    }

    label[for="nav-toggle"] {
      left: calc(50% - 8px);
      transform: translate(-50%);
    }
    
    .nav-toggle-burger {
      background: var(--navbar-light-primary);

      &:before, &::after {
        width: 16px;
        background: var(--navbar-light-secondary);
        transform: translate(0, 0) rotate(0deg);
      }
    }
  }
}

.nav-bar {
  position: fixed;
  left: 1vw;
  top: 1vw;
  height: calc(100% - 2vw);
  background: var(--navbar-dark-primary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  color: var(--navbar-light-primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  user-select: none;

  hr {
    margin: 0;
    position: relative;
    left: 16px;
    width: calc(100% - 32px);
    border: none;
    border-top: solid 1px var(--navbar-dark-secondary);
  }

  input[type="checkbox"] {
    display: none;
  }
}

.nav-header {
  position: relative;
  width: var(--navbar-width);
  left: 16px;
  width: calc(var(--navbar-width) - 16px);
  min-height: 80px;
  background: var(--navbar-dark-primary);
  border-radius: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: width .2s;
  flex-wrap: nowrap;

  hr {
    position: absolute;
    bottom: 0;
  }

  .nav-title {
    font-size: 1.5rem;
    transition: opacity 1s;
    cursor: pointer;
    font-family: 'Bungee', 'Courier New', Courier, monospace;
    color: #7843e6;
    padding-right: 2.5rem;

    .highlight {
      color: #38b6ff;
    }
  }

  label[for="nav-toggle"] {
    position: absolute;
    right: 0rem;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.nav-content {
  margin: 0;
  padding: 16px 0;
  position: relative;
  flex: 1;
  width: var(--navbar-width);
  background: var(--navbar-dark-primary);
  box-shadow: 0 0 0 16px var(--navbar-dark-primary);
  direction: ltr;
  overflow-x: hidden;
  transition: width .2s;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #D62929;
  }
  
  &::-webkit-scrollbar-button {
    height: 16px;
  }
}

#nav-content-highlight, #nav-content-active {
  position: absolute;
  left: 16px;
  top: -54 - 16px;
  width: calc(100% - 16px);
  height: 54px;
  background: var(--background);
  background-attachment: fixed;
  border-radius: 16px 0 0 16px;
  transition: top .2s;

  &:before, &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 16px 16px var(--background);
  }

  &:after {
    top: 100%;
    box-shadow: 16px -16px var(--background);
  }

}

.nav-button {
  position: relative;
  margin-left: 16px;
  height: 54px;
  display: flex;
  align-items: center;
  color: var(--navbar-light-secondary);
  direction: ltr;
  cursor: pointer;
  z-index: 1;
  transition: color .2s;

  span {
    transition: opacity 1s;
  }
  
  .fas {
    transition: min-width .2s;
  }

  @for $i from 1 through 8 {
    &:nth-of-type(#{$i}):hover {
      color: var(--navbar-dark-primary);

      & ~ #nav-content-highlight {
        top: ($i - 1) * 54 + 16px;
      }
    }

    &:nth-of-type(#{$i}).active {
      color: var(--navbar-dark-primary);

      & ~ #nav-content-active {
        top: ($i - 1) * 54 + 16px;
      }
    }
  }
}

.nav-bar svg {
  min-width: 3rem;
  text-align: center;
}

